<a href="https://colab.research.google.com/github/ogut77/DataScience/blob/main/Homework1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Q1-Get your name and age as input and print it in the form like
#Your name is Hulisi. Your age is 43
name=input('What is your name? ')
age=input('What is your age? ')
print()

What is your name? Taghi
What is your age? 20

In [2]:
#Q2-Write a if statement for a given two number is equal or not
a=43
b=54

if a == b:
  print('These numbers are equal')
else:
  print('These numbers are not equal')

These numbers are not equal

In [3]:
#Q3-Write a if statement for first number is greater (a), equal or less than second number.(b)
a=43
b=54

if a > b:
  print('First number is greater than second number')
elif a < b:
  print('First number is less than second number')
else:
  print('First number is equal to second number')

First number is less than second number

In [4]:
#Q4- Using for loop, print 1,2,3,4,5
for k in range(1,6):
  print(k)

1
2
3
4
5

In [12]:
#Q5-Using while loop, print 5,4,3,2,1
k = 5
while k > 0:
  print(k)
  k -= 1

5
4
3
2
1

In [15]:
#Q6- Using for loop, print 10,6,4,2,0
#Hint Print if number is not equal to 8.
for k in range(10,-1,-2):
  if k != 8:
    print(k)

10
6
4
2
0

In [16]:
#Q7-Write a method to calculate age for a given date of birth year.
#Use this method on orer to calculate age of person if date of birth is 1944
# if age is the name of function, print(age(1944))

def age(birth_year):
    current_year = 2026
    return current_year - birth_year

print(age(1944))

82

In [18]:
#Q8-Write a class named arithmetic with method for calculating addition, substraction, multiplication and division of two numbers.
class arithmetic:
  def addition(x,y):
    return x+y
  def subtraction(x, y):
    return x - y
  def multiplication(x, y):
    return x * y
  def division(x, y):
    if y == 0:
      return "Error: Division by zero is not allowed."
    return x / y

print(f"Addition: {arithmetic.addition(3, 4)}")
print(f"Subtraction: {arithmetic.subtraction(10, 5)}")
print(f"Multiplication: {arithmetic.multiplication(6, 7)}")
print(f"Division: {arithmetic.division(20, 4)}")

Addition: 7
Subtraction: 5
Multiplication: 42
Division: 5.0

In [19]:
#Q9- write a for loop or method  to calculate summation of first n numbers
#i.e if n=3, it will print or return 6 (1+2+3)

def sum_numbers(n):
    total = 0
    for i in range(1, n + 1):
        total += i
    return total

n = 3
print(sum_numbers(n))

6

In [23]:
#Q10-Generate 10 numbers between 0 and 1 and add into list. Print first three elements of that list.

import random

random_list = []
for i in range(10):
    random_list.append(random.random())

print("Full List:", random_list)
print("First three elements:", random_list[:3])

Full List: [0.9369058773493836, 0.8643707239075386, 0.4636412417897302, 0.7490493751944568, 0.4641015733855399, 0.2040948432559908, 0.7217150828895718, 0.5392863110072703, 0.8297892155306973, 0.29150614574593114]
First three elements: [0.9369058773493836, 0.8643707239075386, 0.4636412417897302]

In [24]:
#Q11-For a given number n, print numbers divisible by 3 up to that number(n included)
#Example: if n=15, print 3,6,9,12,15
#Hint you can use modulus statement (if (i%3==0))
n=15

for i in range(1, n + 1):
    if i % 3 == 0:
        print(i)

3
6
9
12
15